<!DOCTYPE html>
<html>

<head>
    <title>Image Enhancer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>AI Image Enhancer</h1>

    <form method="POST" enctype="multipart/form-data">

        <input type="file" name="image" required>

        <button type="submit">
            Enhance Image
        </button>

    </form>

    {% if enhanced_image %}

    <h2>Enhanced Image</h2>

    <img
        src="{{ url_for('enhanced_file', filename=enhanced_image) }}"
        alt="Enhanced Image"
        width="500"
    >

    {% endif %}

</body>

</html>